<include file="Layout:header" />
        <div class="main-content">
          <div class="page-content">
            <div class="row">
              <div class="page-content box">
              	<div class="box-title margin_bot_20">
                  <h4><span style="float:right;"><a href='__URL__/index'>返回</a></span></h4>
                  	<div class="span10">
                        <form method="post" action="{:U("Media/insert")}"> 
                        <dl class="zc_dl">
                          <dt>媒体名称：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <input type="text" name="media" class="zc_btn" placeholder="请输入媒体名称" valid="required|regexp|limit" regexp="^[a-zA-Z0-9_#&%$@()|!*><]+$" min="6" max="20" errmsg="" />
                            
                          </dd>
                        </dl>
                        <dl class="zc_dl">
                          <dt>媒体类型：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <select name="type" style="width:165px;">
                                <option name="type" value="1">财经</option>
                                <option name="type" value="2">科技</option>
                                <option name="type" value="3">健康</option>
                                <option name="type" value="4">娱乐</option>
                                <option name="type" value="5">新闻</option>
                                <option name="type" value="6">综合</option>
                                <option name="type" value="7">地方</option>
                            </select>
                            
                          </dd>
                        </dl>
                        <dl class="zc_dl">
                          <dt>所在地区：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <input type="text" name="region" class="zc_btn" placeholder="请输入所在地区" valid="required|regexp|limit" regexp="^[a-zA-Z0-9_#&%$@()|!*><]+$" min="6" max="20" errmsg="" />
                            
                          </dd>
                        </dl>
                        <dl class="zc_dl">
                          <dt>URL：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <input type="url" name="url" class="zc_btn" placeholder="请输入URL" valid="eqaul" eqaulName="password" errmsg="" />
                          </dd>
                        </dl>
                        <dl class="zc_dl">
                          <dt>栏目接口：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <input type="text" name="column" class="zc_btn" placeholder="请输入栏目接口" valid='required|isChinese' errmsg="" />
                          </dd>
                        </dl>
                        <dl class="zc_dl">
                          <dt>发布接口：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <input type="text" name="come_jiekou" class="zc_btn" placeholder="请输发布接口" valid='required|isChinese' errmsg="" />
                          </dd>
                        </dl>
                        <dl class="zc_dl">
                          <dt>入口接口：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <input type="text" name="enter_jiekou" class="zc_btn" placeholder="请输入入口接口" valid='required|isChinese' errmsg="" />
                            </dd>
                            <dt>媒体使用费用：</dt>
                          <dd>
                            <span style="color:red">*</span>&nbsp;
                            <input type="text" name="account" class="zc_btn" placeholder="请输入金额(例如50)" valid='required|isChinese' errmsg="" />
                            </dd>
                            <dd>
                              <span style="color:red">*</span>&nbsp;
                              <input type="submit" class="zc_btn" value="添加"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <input type="reset" class="zc_btn" value="重置"  />
                            </dd>
                        </dl>
                        <form/>
              </div>
            </div>
            <!--/.box-->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer" />   
