<include file="Layout:header" />
        <div class="main-content">
          <div class="page-content">
            <div class="row">
              <div class="page-content box">
              	<div class="box-title margin_bot_20">
                  	<div class="span10">
                   		<h3><i class="icon-cogs"></i>管理员管理 </h3>
                  	</div>
                </div>
                  <div class="margin_bot_20">
                      <a href="{:U('Admin/add')}" class="btn btn-primary btn-sm"><i class="icon-plus"></i>添加管理员</a>

                  </div>
                <div class="tableHead">
                    <table class="table table_img table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:5%;">管理员ID</th>
                                <th style="width:5%;">管理员名称</th>
                                <th style="width:5%;">管理员权限</th>
                                <th style="width:5%;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="table_hy">
                    <table class="table table_img table-striped table-bordered  table-hover">
                        <foreach name='list' item='vo'>
                        <tr>
                            <!-- <td style="width:5%;">
                                <img src="http://wx.qlogo.cn/mmopen/Q9fk36MkRpHEwNXSK6JUTLsAa6MdibkVUib1duBuw2fvUlmWjZic76zwDYNubxnyaw8ziapFwzP4Z5JicX4mTpebGuEA49GcVFw43/0" width="50px" hieght="50px">
                                <br /><a href="#" class="green img">[查看二维码]</a>
                            </td> -->
                            <td style="width:5%;">{$vo.id}</td>
                            <td style="width:5%;">{$vo.admin}</td>
                            <td style="width:5%;">
                                <switch name="vo.auth" >
                                  <case value="1">超级管理员，所有权限;</case>
                                  <case value="2">编辑管理员，稿件，违禁词，公告板块所有权限;</case>
                                  <case value="3">媒体管理员，媒体板块所有的权限;</case>
                                  <case value="4">财务管理员，财务板块所有的权限;</case>
                                  <default />
                                </switch>
                            </td>
                            <div id="caozuo" stytle="">
                              <td style="width:5%;">
                              <a href="__URL__/role/id/{$vo.id}">修改角色</a>
                              <a href="__URL__/edit/id/{$vo.id}">编辑管理员名称</a>
                              <a href="__URL__/del/id/{$vo.id}" >删除</a>
                              </td>
                            </div>
                            <script type="text/javascript">
                              
                            </script>
                            <!-- <td style="width:5%;">0</td>
                            <td style="width:5%;">0</td>
                            <td style="width:5%;">1</td>
                            <td style="width:5%;">5</td>
                            <td style="width:5%;">陈旭</td>
                            <td style="width:5%;">
                                <img src="http://wx.qlogo.cn/mmopen/b0mCmiaAiaBx4mnH1yC3YKpfHEVtdP5U9GhvIsADmJDMyl76u45BeWKziaRpyRaTJYwGMLpbTIib38uicB3EB8ibo8xibCjdYrnHcwib/0" width="50px" hieght="50px">
                            </td>
                            <td style="width:5%;"  class="green information">发消息</td> -->
                        </tr>
                        </foreach>
                       
                    </table>
                </div> 
           
                <ul class="pagination pull-right" style="margin-top:20px; margin-bottom:0;">
                    {$url}
                    <!-- <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li> -->
                </ul>
              </div>
            </div>
            <!--/.box-->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer" />
