<include file="Layout:header"/>
        <div class="main-content">
          <div class="breadcrumbs">
            <ul>
              <li> <a href="__URL__/setBase">基本设置 </a></li>
              <li class="active"> <a href="__URL__/set_deploy">系统配置 </a></li>
              <li> <a href="__URL__/setRank">等级设置 </a></li>

              <!-- <li> <a href="__URL__/setCash">提现设置 </a></li> -->

              <li> <a href="__URL__/setPay">支付方式 </a></li>
            </ul>
            <!-- .breadcrumb -->
          </div>
          <div class="page-content">
            <div class="row">
              <div class="page-content box">
                <div class="box-title margin_bot_20">
                    <div class="span10">
                        <h3><i class="icon-cogs"></i>系统配置</h3>
                    </div>
                </div>
                <form action="__URL__/doSetDeploy" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">AppID : </label>
                        <div class="controls pull-left">
                            <input type="text" name="appid" value="{$vo.appid}" class="input-large">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">AppSecret : </label>
                        <div class="controls pull-left">
                            <input type="text" name="appsecret" value="{$vo.appsecret}" class="input-large">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">原始ID : </label>
                        <div class="controls pull-left">
                            <input type="text" name="oldid" value="{$vo.oldid}" class="input-large">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button id="bsubmit" type="submit"  class="btn btn-sm btn-primary">保存</button>
                    </div>
                </form>
              </div>
            </div>
            <!--/.box-->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer"/>
