<include file="Layout:header" />
        <div class="main-content">
            <div class="page-content">
                <div class="row indexBox">
              <div class="page-content box">
                <div class="box-title margin_bot_20">
                    <div class="span10">
                        <h3 class="red">
                            <i class="icon-volume-down icon-2x green"></i>
                            欢迎您！<i class="blue">{$admin}</i>
                        </h3>


                    </div>
                </div>
                <ul class="indexK">
                    <li class="blueBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-calendar"></i>
                        </span>
                        <span class="indexKRight">
                            <b>{$vo.account}</b>
                            当日充值金额
                        </span>
                    </li>
                    <li class="greenBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-bar-chart"></i>
                        </span>
                        <span class="indexKRight">
                            <b>{$vo.pay}</b>
                            当日交易金额
                        </span>
                    </li>
                    <li class="redBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-group"></i>
                        </span>
                        <span class="indexKRight">
                            <b>{$vo.vip}</b>
                            当日新增会员数
                        </span>
                    </li>
                    <li class="yellowBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-glass"></i>
                        </span>
                        <span class="indexKRight">
                            <b>{$vo.payvip}</b>
                            当日激活数
                        </span>
                    </li>
                </ul>
                <div class="indexTable">
                    <div class="indexTableRight">
                        <h4 class="indexTableTit">
                            <i class="icon-reorder blue"></i>
                            <span>已付款订单列表</span>
                        </h4>
                        <table>
                            <thead>
                            <tr><th width="90px">用户名</th>
                                <th width="120px">订单号</th>
                                <th width="100px">时间</th>
                                <th width="60px">总价</th>
                                <th width="100px">类型</th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach name="res" item="vo">
                            <tr>
                                <td>{$vo['name']}</td>
                                <td>{$vo['order']}</td>
                                <td>{$vo['add_time']}</td>
                                <td>{$vo['account']}</td>
                                <td>{$vo['project']}</td>
                            </tr>
                            </foreach>
                        </tbody>
                        </table>
                    </div>
                    <div class="indexTableLeft">
                        <h4 class="indexTableTit">
                            <i class="icon-reorder blue"></i>
                            <span>新加入会员列表</span>
                        </h4>
                        <table>
                            <thead>
                                <tr><th width="60px">会员ID</th>
                                <th width="60px">会员名</th>
                                <th width="100px">时间</th>
                                <th width="60px">激活状态</th>
                                <th width="80px">余额</th>
                                <th width="60px">公司名称</th>
                            </tr>
                        </thead>
                            <tbody>
                                <foreach name="data" item="vo">
                                 <tr>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.vip_name}</td>
                                    <td>{$vo['add_time']}</td>
                                    <td>
                                        <switch name="vo.status">
                                            <case value="1"><span style="color:red">*</span>&nbsp;已激活</case>
                                            <case value="0">未激活</case>
                                            <default/>
                                        </switch>
                                    </td>
                                    <td>￥{$vo.account}</td>
                                    <td>{$vo.company}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
                <!--/.box-->
            </div>
       <!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer" />