<include file="Layout:header" />
        <div class="main-content">
          <div class="page-content">
            <div class="row">
              <div class="page-content box">
              	<div class="box-title margin_bot_20">
                  <h4><span style="float:right;"><a href='__URL__/index'>返回</a></span></h4>
                  	<div class="span10">
                <form method="post" action="__URL__/updatePass/">     
                <dl class="zc_dl">
                  <dt>尊敬的{$user}用户：</dt><br/>
                  <dd>
                    <span style="color:red">*</span>&nbsp;请输入初始密码:
                    <input type="password" name="oldpass" value="" class="zc_btn" placeholder="请输入初始密码" />
                  </dd><br/>
                  <dd>
                    <span style="color:red">*</span>&nbsp;请&nbsp;输&nbsp;入&nbsp;新&nbsp;密&nbsp;码:
                    <input type="password" name="newpass" value="" class="zc_btn" placeholder="请输入新密码" />
                  </dd><br/>
                  <dd>
                    <span style="color:red">*</span>&nbsp;请再次输入新密码:
                    <input type="password" name="repass" value="" class="zc_btn" placeholder="请再次输入新密码" />
                  </dd><br/>
                </dl>
                
                <dd>
                  <span style="color:red">*</span>&nbsp;
                  <input type="submit" class="zc_btn" value="提交"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="reset" class="zc_btn" value="重置"  />
                </dd>
              </div>
              <form/>
            </div>
            <!--/.box-->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer" />
