<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>古建筑首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="">
    <meta name="description" content="" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/basic.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
</head>
<body style="min-width: 1200px">

<div class="nav">
    <img src="__PUBLIC__/Home/images/san.png" alt="">
    <ul>
        <li><a href="index.html">网站首页</a></li>
        <li><a href="news.html">古建新闻</a></li>
        <li><a href="cyclopedia.html">古建百科</a></li>
        <li><a href="protect.html">古建保护</a></li>
        <li><a href="picture.html">古建图片</a></li>
        <li><a href="video.html">古建视频</a></li>
        <li><a href=" case.html">经典案例</a></li>
    </ul>
</div>
<!--滚动图开始-->
<div id="slideBox" class="slideBox">
    <div class="bd">
        <ul>
            <li><img src="__PUBLIC__/Home/images/banner1.jpg" alt=""></li>
            <li><img src="__PUBLIC__/Home/images/banner2.jpg" alt=""></li>
        </ul>
    </div>

</div>
<!--滚动图结束-->

<!--视频开始-->
<div class="main">
    <!--视频开始-->
    <div class="index_main1">
        <div id="youkuplayer">
            <img id="img_a" src="__PUBLIC__/Home/images/shi1.jpg" alt="">
            <span></span>
        </div>
        <div class="video_ul">
            <ul class="qiehuan" id="qiehuan">
                <li><img src="__PUBLIC__/Home/images/shi3.jpg"  alt=""></li>
                <li><img src="__PUBLIC__/Home/images/shi4.jpg"  alt=""></li>
                <li><img src="__PUBLIC__/Home/images/shi5.jpg"  alt=""></li>
                <li><img src="__PUBLIC__/Home/images/shi6.jpg"  alt=""></li>
                <li><img src="__PUBLIC__/Home/images/shi3.jpg"  alt=""></li>
            </ul>
        </div>
    </div>
    <!--石狮-->
    <div class="index_main2">
        <div class="main2">
            <img src="__PUBLIC__/Home/images/shis.png" alt="" class="fl">
            <div class="main2_right">
                <h3><img src="__PUBLIC__/Home/images/main2right.png" alt=""></h3>
                <p>
                    石狮子，是中国传统文化中常见的辟邪物品，以石材为原材料
                    雕塑成狮子的形象，具有艺术价值和观赏价值的雕塑品。最早
                    的石狮是东汉高颐墓前的石狮。是中国传统建筑中经常使用的
                    一种装饰物，在中国的宫殿、寺庙、佛塔、桥梁、府邸、园林、
                    陵墓及印钮上都会看到它。但更多的时候，石狮是专门指放在
                    大门左右两侧的一对狮子。其造型并非我们现在所看见的狮子，
                    可能是因为中土人士大多没有见过在非洲草原上的真正的狮子，
                    但也有说法是西域狮与非洲狮体态不同的缘故。
                </p>
            </div>
        </div>
    </div>
    <div class="index_main3">
        <div class="main3_div">
            <div class="main3_div2">
                <div class="main3_item">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_1.png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">皇家园林</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </div>
                <div class="main3_item">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_2.png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">恭王府花园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </div>
            </div>
            <ul class="main3_div3">
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(2).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">故宫</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(3).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">畅春园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(1).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">圆明园遗址公园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3.png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">北京四合院</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(4).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">镜春园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(5).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">雍和宫</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
            </ul>
            <div class="main_ql fl">
                <h3><img src="__PUBLIC__/Home/images/qil.png" alt=""></h3>
                <p>
                    麒麟（qí lín）：中国传统瑞兽，性情温和，传说能活两千年。
                    古人认为，麒麟出没处，必有祥瑞。有时用来比喻才能杰出、
                    德才兼备的人。
                    《礼记·礼运第九》：“麟、凤、龟、龙，谓之四灵。”，可见
                    麒麟地位起码与龙同等，并不低于龙。但麒麟又是应龙的孙辈，
                    《淮南子·地形训》：“毛犊生应龙，应龙生建马，建马生麒麟，
                    麒麟生庶兽，凡毛者，生于庶兽。”
                    麒麟也有中土之兽的说法 《易冒》：“勾陈之象，实名麒麟，
                    位居中央，权司戊日……盖仁兽而以土德为治也。
                </p>
            </div>
            <img class="fr" src="__PUBLIC__/Home/images/qilimg.png" alt="">
        </div>

    </div>
    <div class="index_main4">
        <div class="main3_div marbom110">
            <div class="main3_div2">
                <div class="main3_item">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_1.png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">皇家园林</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </div>
                <div class="main3_item">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_2.png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">恭王府花园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </div>
            </div>
            <ul class="main3_div3">
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(2).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">故宫</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(3).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">畅春园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(1).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">圆明园遗址公园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3.png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">北京四合院</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(4).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">镜春园</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
                <li class="main3_item3">
                    <p>
                        <img src="__PUBLIC__/Home/images/main3_3%20(5).png" alt="" class="fangda">
                    </p>
                    <p class="main3_text"><span class="">雍和宫</span>
                        <a href="#" class="fr">查看更多</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="footer">
    <img src="__PUBLIC__/Home/images/logo.png" alt="">
    <div class="footdiv">
        <dl class="wid170 fl">
            <dt>古建新闻</dt>
            <dd><a href="#">古建动态</a></dd>
            <dd><a href="#">政策法规</a></dd>
            <dd><a href="#">古建观点</a></dd>
            <dd><a href="#">考古发现</a></dd>
        </dl>

        <dl class="wid170 fl">
            <dt>古建百科</dt>
            <dd><a href="#">古建文化</a></dd>
            <dd><a href="#">古建技艺</a></dd>
            <dd><a href="#">古建人物 </a></dd>
            <dd><a href="#"> 古建风水</a></dd>
        </dl>

        <dl class="fl win240">


            <dt>古建欣赏</dt>
            <dd><a href="#">功能分类：</a></dd>
            <dd><a href="#">皇家、</a></dd>
            <dd><a href="#">园林、</a></dd>
            <dd><a href="#">宗教、</a></dd>
            <dd><a href="#">民间、</a></dd>
            <dd><a href="#">民族</a></dd>

            <dd><a href="#">时代分类：</a></dd>
            <dd><a href="#">唐、</a></dd>
            <dd><a href="#">宋、</a></dd>
            <dd><a href="#">元、</a></dd>
            <dd><a href="#">明、</a></dd>
            <dd><a href="#">清</a></dd>
        </dl>

        <ul class="fl">
            <li><a href="#">古建保护</a></li>
            <li><a href="#">古建图库</a></li>
            <li><a href="#">古建视频</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/js.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="//player.youku.com/jsapi"></script>

<script type="text/javascript">
    jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,easing:"easeInQuint",delayTime:1000});
</script>
</body>
</html>