<include file="Layout:header" />
        <div class="main-content">
          <div class="page-content">
            <div class="row">
              <div class="page-content box">
              	<div class="box-title margin_bot_20">
                  	<div class="span10">
                   		<h3><i class="icon-cogs"></i>公告管理 </h3>
                  	</div>
                </div>
                  <form class="form-horizontal" action="__URL__/index" method="get">
                      <div class="form-group">
                          <label class="control-label"  style="padding-top:0; margin-right:10px;">
                              <select name="searchtype" id="searchtype" class="input-medium">
                                  <option value="0">--选择搜索类型--</option>

                                  <option <if condition="$search == 'contents'"> selected="selected" <else/></if> value="contents">内容</option>
                                  <option <if condition="$search == 'title'"> selected="selected" <else/></if> value="title">标题</option>

                              </select>
                          </label>
                          <div class="controls pull-left">
                              <input type="text" class="input-medium" name="content" value="{$content}">
                              <button type="submit" class="btn btn-sm btn-primary">搜索</button>
                          </div>
                      </div>
                  </form>
                <div class="tableHead">
                    <table class="table table_img table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:5%;">ID</th>
                                <th style="width:5%;">发布人ID</th>
                                <th style="width:5%;">公告标题</th>
                                <th style="width:5%;">发布时间</th>
                                <th style="width:5%;">状态</th>
                                <th style="width:5%;">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="table_hy">
                    <table class="table table_img table-striped table-bordered  table-hover">
                         <foreach name="list" item="vo" >  
                         <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.nid}</td>
                            <td>{$vo.title}</td>
                            <td>{$vo.add_time}</td>
                            <td>
                                <switch name="vo.status" >
                                  <case value="0">已发布<br/></case>
                                  <case value="1">未发布<br/><a href="#" class="green cancel">[现在发布]</a></case>
                                  <default />
                                </switch>
                            </td>
                            <td class="green information">
                                <a href="__APP__/Admin/Notice/edit/id/{$vo.id}" class="green cancel">编辑</a>
                                <a href="__APP__/Admin/Notice/del/id/{$vo.id}" class="green cancel">删除</a>
                            </td>
                            </td>
                        </tr>
                        </foreach>
                    </table>
                </div> 
           
                <ul class="pagination pull-right" style="margin-top:20px; margin-bottom:0;">
                    {$url}
                    <!-- <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li> -->
                </ul>
              </div>
            </div>
            <!--/.box-->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer" />  
