<include file="Layout:header" />
    <div class="main-content">
              <div class="page-content">
                <div class="row">
                  <div class="page-content box">
                  	<div class="box-title margin_bot_20">
                      <form method="post" action="{:U('Story/insert')}">
                      	<div class="span10">
                          <h4><span style="float:right;"><a href='__URL__/index'>返回</a></span></h4>
                            <dl class="zc_dl">
                              <dt>标题：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <input type="text" name="title" value="{$vo.title}" readonly="readonly" class="zc_btn" placeholder="请输入标题" valid='required|limit'  min="6" max="20" errmsg=""  />
                                <input type="hidden" name="uid" value={$Think.session.user.id} />
                                
                              </dd>
                            </dl>
                            <dl class="zc_dl">
                              <dt>关键词：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <input type="text" name="keyword" value="{$vo.keyword}" readonly="readonly" class="zc_btn" placeholder="请输入关键词" valid="required|limit"  min="20" max="40" errmsg="" />
                                
                              </dd>
                            </dl>
                            <dl class="zc_dl">
                              <dt>描述：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <input type="text" name="describe" value="{$vo.describe}" readonly="readonly" class="zc_btn" placeholder="请输入描述" valid="required|limit" min="6" max="20"  errmsg="" />
                                
                              </dd>
                            </dl>
                            <dl class="zc_dl">
                              <dt>来源：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <input type="text" name="from" value="{$vo.from}" readonly="readonly" class="zc_btn" placeholder="请输入来源" valid='required|isChinese' errmsg="" />
                                
                              </dd>
                            </dl>
                              <dl class="zc_dl">
                              <dt>内容：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <!-- <input type="text" name="content" class="zc_btn" placeholder="请输入内容" valid='required|isChinese' errmsg="" /> -->
                                <textarea name="content" value="" readonly="readonly" class="zc_btn" placeholder="请输入内容" valid='required|isChinese' errmsg="" rows="10" cols="20">{$vo.content}</textarea>
                                
                              </dd>
                            </dl>
                          </div>
                          <form/>
                    </div>

                <!--/.box-->
              </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    </div><!-- /.main-container -->
<include file="Layout:footer" />
