<include file="Layout:header" />
        <div class="main-content">
          <div class="page-content">
            <div class="box-title margin_bot_20">
                <h4><span style="float:right;"><a href='__URL__/index'>返回</a></span></h4>
                <h3><i class="icon-cogs"></i>财务报表说明</h3><br/><br/>
              <div class="span10">  
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="100px">流水号</th>
                        <th width="150px">月份</th>
                        <th width="100px">总收入</th>
                        <th width="150px">总充值金额</th>
                        <th width="150px">交易金额</th>
                        <th width="150px">总会员数</th>
                        <th width="150px">交易会员数</th>
                                            </tr>
                    </thead>
                    <tbody>
                        <foreach name="list" item="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.month}月份</td>
                            <td>{$vo.account}</td>
                            <td style="text-align:right;">{$vo.pay}</td>
                            <td>{$vo.sell}</td>
                            <td>{$vo.num}</td>
                            <td>{$vo.sellnum}</td>
                            
                        </tr>              
                    </foreach>
                    <tr>
                            <td>总会员数:&nbsp;&nbsp;{$list1['num']}</td>
                            <td>总交易金额:&nbsp;&nbsp;{$list1['sell']}</td>
                            <td>总充值金额:&nbsp;&nbsp;{$list1['pay']}</td>
                        </tr>
                    </tbody>
                 </table>
              </div>
            </div>
            <!--/.box-->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer" />
