<include file="Layout:header" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/UEditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/UEditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/UEditor/lang/zh-cn/zh-cn.js"></script>
    <div class="main-content">
              <div class="page-content">
                <div class="row">
                  <div class="page-content box">
                  	<div class="box-title margin_bot_20">
                      <h4><span style="float:right;"><a href='__URL__/index'>返回</a></span></h4>
                      <form method="post" action="{:U('Article/insert')}" enctype="multipart/form-data">
                      	<div class="span10">
                            <dl class="zc_dl">
                              <dt>文章标题：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <input type="text" name="title" class="zc_btn" size="100%" placeholder="请输入标题" valid='required|limit'  min="6" max="20" errmsg=""  />
                                <input type="hidden" name="username" value="{:session('user')['username']}">
                              </dd>
                            </dl>
                            <dl class="zc_dl">
                              <dt>选择分类：</dt>
                              <dd>
                                <span style="color:red;float: left;">*</span>&nbsp;
                                <select name="columnone" id="columnone" style="width:100px;float: left;">
                                  <option value ="请选择">一级分类</option>
                                  <foreach name="res1" item="vo">
                                  <option value ="{$vo.id}">{$vo.type}</option>
                                  </foreach>
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;

                                <select name="columntwo" id="columntwo" style="width:100px;display: none;float: left;">
                                  
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <select name="columnthird" id="columnthird" style="width:100px;display: none;float: left;">
                                </select>
                              </dd>

                            </dl><br/>
                            <script type="text/javascript">
                              $(function(){
                                //获取选中的一级分类id
                                $("#columnone").change(function(){
                                  var oneid = $(this).val();
                                  var salt = 2;
                                  // alert($);
                                  $.ajax({
                                    url: "{:U('Article/ajaxType')}",
                                    type: "POST",
                                    data: {'id':oneid,'salt':salt},
                                    success: function(data){
                                        var str = '';
                                        for(i in data){
                                          str = str + "<option value='"+data[i]['id']+"'>"+data[i]['type']+"</option>";
                                        }
                                        $("#columntwo").css("display","block");
                                        $('#columntwo').html(str);
                                        console.log(data);
                                    },
                                    dataType: "JSON",
                                  });
                                })

                                //获取选中的二级分类id
                                $("#columntwo").change(function(){
                                  var oneid = $(this).val();
                                  var salt = 3;
                                  // alert(oneid);
                                  $.ajax({
                                    url: "{:U('Article/ajaxType')}",
                                    type: "POST",
                                    data: {'id':oneid,'salt':salt},
                                    success: function(data){
                                        if(data != null){
                                          var str = '';
                                          for(i in data){
                                            str = str + "<option value='"+data[i]['id']+"'>"+data[i]['type']+"</option>";
                                          }
                                          $("#columnthird").css("display","block");
                                          $('#columnthird').html(str);
                                          console.log(data);
                                        }else{
                                          $("#columnthird").css("display","none");
                                        }
                                    },
                                    dataType: "JSON",
                                  });
                                })
                                
                              })
                            </script>
                            <div id="mastermap" style="display: block">
                            <dl class="zc_dl">
                              <dt>添加主图：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <img src="__PUBLIC__/Uploads/default.png"  height="150px">
                                <input type="file"  name="mastermap" class="zc_btn" value="" valid="required|limit"  min="20" max="40" errmsg="" />&nbsp;&nbsp;&nbsp;
                              </dd>
                            </dl>
                            </div>
                            <dl class="zc_dl">
                              <dt>添加视频：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <div>
                                    <textarea id="editors" type="text/plain" name="video" style="width:500px;height:300px;"></textarea><p>温馨提示：该文章不为视频类型时，可以不添加视频!</p><br/>
                                </div>
                                <script type="text/javascript">
                                    //实例化编辑器
                                    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                                    var ue = UE.getEditor('editors',{
                                      //这里可以选择自己需要的工具的按钮名称，
                                      toolbars:[['insertvideo',]],
                                      //focus时自动清空初始化时的内容
                                      autoClearinitialContent:true,
                                      //关闭数字统计
                                      wordCount:false,
                                      //关闭elementPath
                                      elementPathEnabled:false,

                                    });
                                </script>
                                
                              </dd>
                              <dd>                              
                            <dl class="zc_dl">
                              <dt>内容描述：</dt>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <div>
                                    <textarea id="editor" type="text/plain" name="content" style="width:100%;height:300px;"></textarea>
                                </div>
                                <script type="text/javascript">
                                    //实例化编辑器
                                    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                                    var ue = UE.getEditor('editor');
                                </script>
                                
                              </dd>
                              <dd>
                                <span style="color:red">*</span>&nbsp;
                                <input type="submit" class="zc_btn" value="添加"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="reset" class="zc_btn" value="重置"  />
                              </dd>
                            </dl>
                          </div>
                          <form/>
                    </div>

                <!--/.box-->
              </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    </div><!-- /.main-container -->
<include file="Layout:footer" />
