<include file="Layout:header" />
        <div class="main-content">
          <div class="page-content">
            <div class="row">
              <div class="page-content box">
              	<div class="box-title margin_bot_20">
                  	<div class="span10">
                    <h4><span style="float:right;"><a href='__URL__/index'>返回</a></span></h4>
                <form method="post" action="__URL__/update/id/{$vo.id}">     
                <dl class="zc_dl">
                  <dt>用户名：</dt>
                  <dd>
                    <span style="color:red">*</span>&nbsp;
                    <input type="text" name="vip_name" value="{$vo.vip_name}" class="zc_btn" placeholder="请输入用户名" valid='required|regexp|limit' regexp="^[a-zA-Z0-9_]+$" min="6" max="20" errmsg="用户名必填|用户名只能是a-z并包含0-9|用户名长度必须在6-20之间"  />
                  </dd>
                </dl>
                <dl class="zc_dl">
                  <dt>密&nbsp;&nbsp;&nbsp;码：</dt>
                  <dd>
                    <span style="color:red">*</span>&nbsp;
                    <input type="password" name="password" value="{$vo.password}" class="zc_btn" placeholder="请输入密码" valid="required|regexp|limit" regexp="^[a-zA-Z0-9_#&%$@()|!*><]+$" min="6" max="20" errmsg="密码必填|密码格式错误|密码长度必须在6-20之间" />
                  </dd>
                </dl>
                <dl class="zc_dl">
                  <dt>确认密码：</dt>
                  <dd>
                    <span style="color:red">*</span>&nbsp;
                    <input type="password" name="repassword" class="zc_btn" placeholder="请重复密码" valid="eqaul" eqaulName="password" errmsg="和密码不同!" />
                  </dd>
                </dl>
                <dl class="zc_dl">
                  <dt>企业名称：</dt>
                  <dd>
                    <span style="color:red">*</span>&nbsp;
                    <input type="text" name="company" value="{$vo.company}"class="zc_btn" placeholder="请输入企业名称" valid='required|isChinese' errmsg="姓名必填|姓名必须为中文" />
                  </dd>
                </dl>
                  <dl class="zc_dl">
                  <dt>联系地址：</dt>
                  <dd>
                    <span style="color:red">*</span>&nbsp;
                    <input type="text" name="address" value="{$vo.address}"class="zc_btn" placeholder="请输入联系地址" valid='required|isChinese' errmsg="" />
                    
                  </dd>
                </dl>
                <dl class="zc_dl">
                  <dt>电&nbsp;&nbsp;&nbsp;话：</dt>
                  <dd>
                    <span style="color:red">*</span>&nbsp;
                    <input type="text" name="phone" value="{$vo.phone}"class="zc_btn" placeholder="请输入电话" valid="isPhone" errmsg="电话格式错误" />
                    
                  </dd>
                </dl>
                <dl class="zc_dl">
                  <dt>QQ：</dt>
                  <dd>
                    <span style="color:red">*</span>&nbsp;
                    <input type="text" name="qq" value="{$vo.qq}"class="zc_btn" placeholder="请输入QQ" valid='required|isChinese' errmsg="" />
                    <input type="hidden" name="id" value="{$vo.id}"class="zc_btn" placeholder="" valid='required|isChinese' errmsg="" />
                    
                  </dd>
                </dl>
                <dd>
                  <span style="color:red">*</span>&nbsp;
                  <input type="submit" class="zc_btn" value="修改"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="reset" class="zc_btn" value="重置"  />
                </dd>
              </div>
              <form/>
            </div>
            <!--/.box-->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->
<include file="Layout:footer" />
